# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Pytest / coverage
.pytest_cache/
.coverage
coverage.xml
allure-results/
allure-report/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
